[Unit]
Description=Red Hat Storage Capacity Collector
After=network.online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/rhs_usage --debug

[Install]
WantedBy=multi-user.target
